<!DOCTYPE html>
{% load static %}
<html>
	<head>
		
		<link rel="icon" href="{% static 'logo.jpg' %}" />
		<title> | Contact Us</title>
  		<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="{% static 'feedback.css' %}">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<style type="text/css">
			body{
				font-family: 'Open Sans';
                background-color: #040116;
                color: #E7E5E9;
			}
		</style>
	</head>
	<body>
                    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E7E5E9;">
                        <!-- <div class="container"> -->
                            <div>
                                <div style="display: flex;color: #040116;">
                                <img src="{% static 'logo.jpg' %}" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
                                <h2 style="font-family: Open Sans;margin-top: 8px;">WriteMyDiary</h2>
                                </div>                                
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav ml-auto">
                                      <a class="nav-item nav-link nav-style" style="background-color: #fff;color: black;" data-scroll="" href="/">Back To Home</a>
                                </div>
                            </div>
                    </nav>
                    <div class="container">
                    	<div class="row">
                    		  <div class="col-md-6 mt-5" style="color: white">
                                    <center><h1>MEET THE DEVELOPER</h1>
                                    <img src="{% static 'profile_pic.jpg' %}" style="border-radius: 50%; height: 200px; width: 200px">
                                    <br>
                                    <h3 style="margin-top: 13px;font-weight: bolder;">SRIVALLI S B</h3>
                                    <div>
                                        <b><p>Full Stack Web Developer</p></b>
                                    </div>
                                    
                                    <div style="text-align: center; width: 60%">
                                        <p>I am currently residing in Bangalore, India. Information Science and Engineering in making. <br> I enjoy designing websites.
                                        I believe that "I learn something at every second in my life".

                                         </p>
                                    </div>
                                </center>
                              </div>
                    		<div class="col-md-5 mt-5">
                    			<center><h1>GET IN TOUCH....</h1></center>
                    			<br>
                    			<div class="icons" style="display: flex;justify-content: space-between;margin-top: 20px;flex-wrap: wrap;">
                    				<div>
                    					<a href="https://www.instagram.com/srivalli_1526/"><i class="fab fa-instagram fa-5x"></i>
                    					<br>
                    					<br>
                    					<h5>Ping me on instagram</h5></a>
                    				</div>
                    				<div>
                    					<a href="https://github.com/srivallisb"><i class="fab fa-github fa-5x"></i>
                    					<br>
                    					<br>
                    					<h5>Link to my GitHub account</h5></a>
                    				</div>
                    				<div style="margin-top: 20px">
                    					<a href="https://www.linkedin.com/in/srivalli-s-b-a51339188/"><i class="fab fa-linkedin fa-5x"></i>
                    					<br>
                    					<br>
                    					<h5>Find me on LinkedIn</h5></a>
                    				</div>
                    				<div style="margin-top: 20px">
                    					<a href="mailto:srivalli.akshatha@gmail.com"><i class="far fa-envelope fa-5x"></i></a>
                    					<h5>Mail me at <br>
                                            <a href="mailto:srivalli.akshatha@gmail.com">srivalli.akshatha@gmail.com</a></h5>
                    				</div>
                    			</div>
                    		</div>
                    	<div class="col-md-1"></div>
                    	</div>
                    </div>
                    <br>


  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</body>
</html>