
{% extends 'dash_base.html' %}
{% load static %}
{% block head %}
    <link rel="icon" href="{% static 'logo.jpg' %}"/>
    <title>WriteMyDiary  | Your personal online diary</title>
{% endblock %}

{% block body %}
<br>
<div style="display: flex;justify-content: space-between;margin-left: 10px">
<h3>Hi {{user.username}}, here's all your diary entries...</h3>
<a href="/create/" class="btn btn-primary btn-sm" style="text-align: center;height: 30px;"><i class="fas fa-plus-circle"></i> &nbsp;New Entry</a>
</div>
<br>
<hr>
<br>
{% if all_diaries %}

{% for d in all_diaries %}
<div style="display: flex;justify-content: space-around;"> 
	<div class="card " style=" margin-bottom: 15px; width: 70%;">
    <div class="card-header" style="display: flex; justify-content: space-between;background-color: #E7E5E9; color: black;">
    <div>
     <h4 style="text-align: left;">{{d.highlight}}</h4>
    </div>
    <div>
    {% if not d.is_favourite %}
    <form action="/fav/{{d.id}}/" method="POST">
   {% csrf_token %}
    <button class="btn " type="submit" name="is_favourite" style=" border: none; float: right;background-color:white; ">
      <i class="far fa-star"></i></button>
    </form>
     {% else %}
    <form action="/unfav/{{d.id}}/" method="POST">
   {% csrf_token %}
    <button class="btn " type="submit" name="is_favourite" style="border: none; float: right;background-color:white;"><i class="fas fa-star"></i></button>
  </form>
    {% endif %}
  </div>
  </div>
  <div class="card-body" style="background-color:#fff;color: #333;">
    <div style="display: flex;justify-content: space-between;">
      <div>
        <p class="card-title">{{d.diarycontent | safe | truncatechars:20}}</p>
      </div>
      <div>
        <h6 class="card-title" style="float: right;">{{d.timestamp | timesince}} ago</h6>
      </div>
    </div>
    <a href="/diary/{{d.id}}/" class="btn btn-primary" style="border-radius: 25px;">Recall the day</a>
    <a style="text-align: center;float: right;background-color: white;color: red;padding: 10px;" href="/deleteDiary/{{d.id}}/"> <i class="far fa-trash-alt"></i> </a>
  </div>
</div>
</div>
{% endfor %}
{% else %}
<div style="color: black; position:absolute; left: 30%;top: 50%;">
<h2>No diary entries found. 😟</h2>
<a href="/create/" class="btn btn-outline-info" style="width: 160px;">Start your first diary <i class="fas fa-pen"></i></a>

</div>

{% endif %}
{% endblock %}