{% extends 'dash_base.html' %}
{% load static %}
{% block head %}
  <link rel="icon" href="{% static 'logo.jpg' %}" />
  <title>Recall your diary</title>
<link rel="stylesheet" href="{% static 'dash.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-12" style="margin-left:0px; margin-top:0px;width:100%;height:max-content;">

            <div class="head" style="margin-top: 50px; display: flex; justify-content: space-between;">
                <div>
                    <h3>Highlight of the day: <span style="font-weight: 550">{{viewdiary.highlight}}</span> </h3>
                </div>
                <div>                   
                    <p>{{viewdiary.timestamp}}</p>
                    <a href="/edit/{{viewdiary.id}}/" style="border-radius: 25px; text-align: center;"><i class="fas fa-edit" style="color: #333;padding: 10px;font-size: 20px;"></i></a>
                    <a  style="text-align: center;color: red;font-size: 20px;" href="/deleteDiary/{{viewdiary.id}}/"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
            <br>  
            <div class="content" style="background:rgba(0, 0, 0, 0.1); color: black; ">                
                    <p style="font-family: sans-serif; color: black; font-size: 40px; font-weight: 800;">{{viewdiary.diarycontent|safe}}</p> 
            </div>        
            <br>

        </div>


    </div>
</div>
{% endblock %}