<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="icon" href="{% static 'logo.jpg' %}" />
		<title>WriteMyDiary | FAQ</title>
  		<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">

		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

		<link rel="stylesheet" href="/static/faq_style.css/">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static '/js/script.js' %}"></script>
    	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	</head>
	<body style="background-color: #040116;color:#040116; ">		
					<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E7E5E9;">
                        <!-- <div class="container"> -->
                            <div>
                                <div style="display: flex;color: #040116;">
                                <img src="{% static 'logo.jpg' %}" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
                                <h2 style="font-family: Open Sans;margin-top: 8px;">WriteMyDiary</h2>
                                </div>                                
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav ml-auto">
                                   	  <a class="nav-item nav-link nav-style" style="background-color: #fff;color: black;" data-scroll="" href="/">Back To Home</a>
                                </div>
                            </div>
                    </nav>
            <!-- <div style="background-color: rgb(4, 73, 129);"> -->
        <div id="container">
			<h1 style="color: white;"> FAQ <i class="far fa-question-circle"></i> </h1>
			<div class="title" style="background-color:#ccc;color: #040116; font-weight: 600"><h1>We are here to support you &nbsp; <i class="far fa-handshake"></i></h1></div>
			<ul class="faq">
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp; Why should I choose <span style="color: green">writemydiary?</span></li>
				<li class="a">"writemydiary" is secured, privacy is #1 concern, you can access it anytime, anywhere.
				You can add some of your entries to memories for fast recall.</li>
				
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp;How to contact when any issue?</li>
				<li class="a">Just ping us at the email - 'hellowritemydiary@gmail.com' . We will reach you out within 24 working hours.</li>
				
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp;Where to give feedback?</li>
				<li class="a">Open <a href="/writemydiary/feedback/">writemydiary/feedback/</a> and rate us there, give your honest comments. Thank you.</li>
				
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp;I am not able to add my diary to memories.</li>
				<li class="a">Either the server would have been working slow,or you might have poor connection, please kindly wait, or try after sometime. If still, it persists then contact us at our email-id.</li>
				
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp; Create diary feature isn't working.</li>
				<li class="a">Summernote editor wouldn't have loaded, no worries! Refresh the page twice, it will work. </li>
				
				<li class="q"><i class="fas fa-caret-right"></i>&nbsp; Images aren't loading.</li>
				<li class="a">Sorry for the inconvinience, give sometime it will work. Try reloading the page or adding it again.</li>
			</ul>
		</div>
		<!-- </div> -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>

</html>