<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo.jpg' %}" />
    <title>WriteMyDiary | Free online diary</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
        html{
            scroll-behavior: smooth;
        }
        body {
              margin: 0;
              padding: 0;
              font-family: 'Open Sans';
              color: #fff;
            }
        #particles-js{
          margin-top: 0px;
        }
        
        .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }

        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .sidenav a:hover {
          color: #f1f1f1;
        }

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 36px;
          margin-right: 80px;
        }

        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }

        .hero-card.shift-down {
            min-height: 260px;
            margin-top: -40px;
        }
        .hero-card {
          min-height: 260px;
          padding: 25px;
          border: 1px solid #eee;
          border-radius: 5px;
          background-color: #fff;
          color: black;
          box-shadow: 1px 1px 3px 1px #eee;
      }
    </style>
</head>
<body>
    <section style="background-image: url(https://image.freepik.com/free-photo/overhead-view-diary-pens-eyeglasses-cellphone-eyeglasses-pink-background_23-2147880544.jpg); background-size: cover; background-position: center; width: 100%; background-attachment: fixed; font-family: 'Open Sans'; height: 100vh;">
        <div class="header-overlay" id="home" style="background-color: rgba(0,0,0,0.07);height: 100vh;">
          
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a class="nav-item nav-link " style="background-color: #fff;color: black;text-align: center;" data-scroll="" href="#home">Home</a>
                        <a class="nav-item nav-link " style="color: #fff; text-align: center;" data-scroll="" href="#whydiary">Why diary?</a>
                        <a class="nav-item nav-link " style="color: #fff; text-align: center;" data-scroll="" href="#about">About Us</a>
                        <a class="nav-item nav-link " style="color: #fff; text-align: center;" data-scroll="" href="/signup/">Signup <i class="fas fa-user-plus"></i></a>
                        <a class="nav-item nav-link " style="color: #fff; text-align: center;" data-scroll="" href="/signin/">Login <i class="fas fa-user-circle"></i></a>
                    </div>
                  <span style="font-size:20px;cursor:pointer;float: left;margin:10px;color: black; " onclick="openNav()">
                    <i class="fas fa-bars fa-2x"></i>
                  </span>

                      <script>
                        function openNav() {
                          document.getElementById("mySidenav").style.width = "250px";
                        }

                        function closeNav() {
                          document.getElementById("mySidenav").style.width = "0";
                        }
                        </script>
                   <div class="row">
                       <div class="col-md-6"></div>
               
                    <div class=" col-md-6" style=" justify-content: flex-end;align-items: flex-end; flex-direction: column; margin-top:5vh;">
                              <div style="display: flex;color: #040116;margin-left: 0">
                                <img src="{% static 'logo.jpg' %}" alt="" style="width: 63px; height: 63px; border-radius: 50%;margin-top: 10px;">
                                <h1 style="font-family: 'Open Sans';font-weight: 900;font-size: 3.5em;">WriteMyDiary</h1>
                              </div>
                                
                            <div class="tagline" style="padding: 0;margin:10px;background-color: rgba(0,0,0,0.1); flex-direction: column;border-radius: 10px;">
                                
                              <h3 class="heading w3-center w3-animate-right" style="transition: 5s; transition-timing-function:ease;color: #040116; text-shadow:  2px 1px #E7E5E9; "> Your personal, customizable online diary </h3>
                              <img src="{% static 'blogging.svg' %}" height="250px" width="250px">
                              <div style="display: flex;">
                                
                              <a class="btn btn-lg" style="background-color: white; font-size: 20px;border-radius: 25px;" data-toggle="tooltip" data-placement="left" title="Login to your account" href="/signin/">Open my diary &nbsp;
                              <i class="fas fa-pen"></i></a>
                             &nbsp;
                              <a class="btn btn-lg active" href="/signup/" style="font-size: 20px; background-color:#040116;color: white;border-radius: 25px;"data-toggle="tooltip" data-placement="right" title="Create new account">GET A NEW DIARY &nbsp;
                                  <i class="fa fa-book-open"></i>
                              </a>
                              </div>
                              <br>
                              
                            </div> 

                        </div>     
                    </div>
                    <center><a data-scroll="" href="#whydiary">
                        <i class="fas fa-arrow-alt-circle-down fa-3x"style="color: black;margin-top: 9vh" aria-hidden="true"></i>
                    </a></center>
            </div>
        
      </section>

      <section>

        <div style="background-color: #040116;">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card-body" id="whydiary" >
                    <div class="row">
                   
                    <div class="col-md-6">
                    <div style="">
                    
                    <h3 class="card-title" style="font-weight: bold;">Why is diary writing important? 📌</h3>
                    </div>
                  <p class="card-text" style="font-size: 15px;">
                    It's really appreciable if people could record their thoughts and feelings somewhere.
                       Diary gives us that opportunity. Writing diary provides some sense of relief,
                        get you more clarity about yourself and your life. <br> <br>

                        Make diary writing as your habit and
                        before you realise you would have increased your writing skills too.
                        It heals your mind and keep you focused. It's a therapy for bad days. <br><br>
                        Studies have shown that the emotional release that comes from writing a diary helps to lower anxiety and stress,
                        and even helps you achieve a better night’s sleep. 
                        
                        <br>
                        There is a saying that, "there is no better friend than your diary". 🤝
                        <br>
                        So start writing diary with us.
                        <br><br><br>
                  </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'book_lover.svg' %}" height="max-content" width="400px">
                    </div>
                    </div>
                    
                </div>
              
        </div>
        <div class="col-md-1"></div>
        </div>   
        </div>
        </div>
        <div class="container pt-5">
            <center>
              <div>
              <h1 style="text-align:center;color: #333; font-weight: 700;" id="about" >
                  <span>Why write in WriteMyDiary <img src="{% static 'logo.jpg' %}" alt="" style="width: 40px; height: 40px; border-radius: 50%;margin-bottom: 3px;">?</span>
              </h1>
              </div>
            </center>
           <br>
           <br>
        <div class="row" >
          <div class="col-md-4">
            <div class="hero-card shift-down" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; ">
              <h3 class="">1.PRIVACY🔐</h3>
                <p class="" style="font-size: 15px; width: 90%;">We ensure that your diary is very safe with us. Only you can access your diary with the secret pin.
                The problem of somebody peeping into your diary book, is resolved with us in a great way. <br>
                <strong>Stop worrying, start writing... </strong><i class="fas fa-pen-fancy" style="color: black;"></i>
                </p>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="hero-card" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              <h3 class="card-title" style="text-align: center;">2.ACCESS IT ANYWHERE 💻</h3>
                 <p class="card-text" style="font-size: 15px; width: 90%;">No worries of forgetting your diary somewhere.
                  You needn't have to carry a book wherever you go, just login to <a href="/signin/" style="color: coral;">writemydiary</a>. <br>
                  Your work is made simpler . We will be there for you whenever you need.
                </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="hero-card shift-down" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                  <h3 class="card-title">3.CUSTOMIZABLE 👓</h3>
                    <p class="card-text" style="font-size: 15px; width: 90%;">Your diary entries can be made much better with us.
                      You can ruminate your memories by adding pictures and other media. <br>
                      You can make it colorful.
                      You can star your favourite diary entries. <br>
                     <strong> Don't be late, Go explore.... </strong>
                    </p>
            </div>
          </div>

      </div>
      <br><br>
      <center>
        <h1 style="color: #333; font-weight: 500;">Then why wait buddy?</h1>
        <a href="/signup/" class="btn btn-lg" style="width: 210px; border-radius: 25px;background-color:
        #040116;color: #fff; ">Get Started</a>
      </center>
      </div>
<br><br>

</section>
<footer>
    <div style="background-color:#181818;color: white; height: 220px;">
        <div class="container" style=" display: flex; justify-content: space-between;">
        <div style="display:flex;">
            <img src="{% static 'logo.jpg' %}" alt="" style="width: 60px; height: 60px; border-radius: 50%;">
            <h2 style="margin-top: 10px;font-family: Open Sans;">WriteMyDiary</h2>
        </div>
        <br>
        
        <div>
            <!-- <ul  style="list-style:none;"> -->
                <h4 style="text-align: center;">WriteMyDiary</h4>
                <hr>
                <ul class="ul-style" style="text-align: left;list-style:none;">
                <a href="/faq/"><li>FAQ</li></a>
                <a href="/contact/"><li>Contact us</li></a>
                <a href="/signup/"><li>Create account</li></a>
                <a href="/feedback/"><li>Feedback</li></a>
              <!-- </ul> -->
                </ul>
        </div>
    </div>
    <p style="text-align: center;">Copyrights &nbsp; <i class="far fa-copyright" aria-hidden="true"></i> 2020 &nbsp; 
      WriteMyDiary
    </p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/particles.min.js/"></script>
<script type="text/javascript" src="/static/js/app.js/"></script>
<script type="text/javascript" src="/static/js/main.js/"></script>
</body>
</html>